@use './reset.scss';
@import './variables.scss';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

html,
body {
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;

  a {
    text-decoration: none;
    color: currentColor;
  }
}

/*class*/

.hidden {
  display: hidden !important;
}
/*layout*/
.content-wrap {
  width: 1900px;
  max-width: $maxWidth;
  margin: 0 auto;
}
.list-wrap {
  padding: 80px 0;
}
