// font-size
$h1: 34px;
$h2: 28px;
$h3: 26px;
$h4: 22px;
$h5: 18px;
$h6: 16px;
$p: 16px;
$small: 14px;

//color
$black: #161616;
$grey-dark: #8c8c8c;
$grey-light: #c5c5c5;
$pink: #d32a70;
$green: #003327;
$red: #ff0000;
$white: #ffffff;

//padding:
$padding: 20px;
//calc($padding * 2)
