/*font-size*/
$h1: 2.215rem;
$h2: 1.75rem;
$h3: 1.625rem;
$h4: 1.375rem;
$h5: 1.125rem;
$h6: 1rem;
$default: 1rem;
$small: 0.875rem;
$originPrice: 1.25rem;
/*color*/
$black: #161616;
$darkGray: #8c8c8c;
$lightGray: #c5c5c5;
$pointColor: #d32a70;
$brandColor: #003327;
$alert-red: #ff0000;
$white: #fff;
/*font-weight*/
$bold: 700;
$medium: 500;
$light: 300;
/*width*/
$maxWidth: 1920px;
$parentWidth: 100%;
@function columns($number: 1, $all: 20) {
  @return $parentWidth * ($number/$all);
}
