@use '../../styles/common.scss';
@import '../../styles/variables.scss';

.error {
  color: #f00;
}

.path {
  font-size: 13px;
  font-weight: 400;
  color: #888;
}

.sign-up {
  max-width: 1300px;
  width: 100%;
  margin: 50px auto;
}
.form {
  background-color: white;
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

.table {
  margin: 80px 0px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  color: #161616;
}

.table-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.table-title span:first-child {
  font-size: 18px;
  font-weight: 500;
  color: #161616;
}

.table-title span:last-child {
  font-size: 12px;
  // color: #353535;
}

.input-field {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.input-field span {
  display: flex;
  align-items: center;
}

.input-field .label {
  width: 100px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #2b2b2b;
}

.input-field input {
  padding: 12px 0;
  width: 280px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-field #id,
#password,
#pw-check,
#username {
  margin-right: 10px;
}

.input-field .num {
  width: 120px;
}

.input-field .condition-red {
  color: #f00;
  font-size: 14px;
  font-weight: 300;
}

.input-field .condition {
  font-size: 14px;
  color: #888888;
}

.address {
  display: flex;
  flex-direction: column;
}

.address .search {
  margin-bottom: 15px;
}

.address .search button {
  padding: 12px 48px;
  margin-left: 12px;
  border-radius: 4px;
  border: 1px solid;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
  cursor: pointer;
}

.address input[type='text']::placeholder {
  padding-left: 15px;
  color: rgb(192, 192, 192);
}

.address input:nth-child(2),
.address input:nth-child(3) {
  margin-bottom: 15px;
  width: 445px;
}

.address input:last-child {
  margin-bottom: 0;
}

#number,
#mobile {
  padding: 10px 55px 10px 10px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.mobile-wrap {
  display: flex;
  .num {
    margin: 0;
  }
}

.dash {
  margin: 0px 20px;
}

.radio-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radio-wrap .radio {
  margin: 0px 5px;
  width: 16px;
  height: 16px;
  accent-color: black;
}

.guidance {
  font-size: 14px;
  color: #888888;
}

.dob-wrap {
  display: flex;
  align-items: center;
}

.dob-wrap .num {
  padding: 12px 0px;
}

.clause-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.clause-wrap .input {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  accent-color: black;
}

.clause {
  display: flex;
  align-items: center;
}

.main-content {
  font-size: 14px;
  font-weight: 500;
}

.content {
  font-size: 14px;
}

.content span {
  color: #a6a6a6;
}

.submit {
  display: flex;
  justify-content: center;
}

.submitBtn {
  padding: 12px 80px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: #00362a;
  color: #fff;
}

.submitBtn:enabled {
  cursor: pointer;
}
